<%
const dirName = '/renewal_test/normal_play/'
const path = {
    absolute: 'https://www.tv-asahi.co.jp',
    relative: `/douga_mv${dirName}`,
    productDirectory: dirName
}
const data = {
    type: 'play_2',
    title: '東京ベイビーボーイズ9 CONTE LIVE 2021春│テレビ朝日',
    description: '東京ベイビーボーイズ9 CONTE LIVE 2021春　配信決定！！',
    keywords: '',
    noIndex: true,
    ogUrl: 'https://wws.tv-asahi.co.jp/apps/live/renewal_test/normal_play/play/1/'
}
%>
<%- include('../common/_head', { data: data, path: path }) %>
<%- include('../components/_play', { data: data, path: path }) %>
<%- include('../common/_foot', { path: path, data: data }) %>