<script src="<%= path.relative %>js/script.js?date=20220401"></script>
<% if(data.type.match(/(play|free)/)) { %>
<%- include('./_playUsergram', { data: data }) %>
<% } else { %>
<%- include('./_usergram', { data: data }) %>
<% }%>
</body>

</html>