<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.title %></title>
  <meta name="robots" content="<%= data.noIndex ? 'noindex,nofollow' : 'index,follow' %>">
  <meta name="description" content="<%= data.description %>">
  <meta name="keywords" content="<%= data.keywords %>">

  <meta name="twitter:title" content="<%= data.title %>">
  <meta name="twitter:description" content="<%= data.description %>">
  <meta name="twitter:url" content="<%= data.ogUrl || path.absolute + path.relative; %>">
  <meta name="twitter:image" content="<%= path.absolute; %><%= path.relative; %>images/OG.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:title" content="<%= data.title %>">
  <meta property="og:description" content="<%= data.description %>">
  <meta property="og:url" content="<%= data.ogUrl || path.absolute + path.relative; %>">
  <meta property="og:image" content="<%= path.absolute; %><%= path.relative; %>images/OG.jpg">

  <meta property="mixi:image" content="<%= path.absolute; %><%= path.relative; %>images/OG.jpg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= path.relative %>css/style.css?date=20220401">

</head>

<body data-type="<%= data.type %>" data-relative="<%= path.relative %>">