/*
* .p-error
*/

.p-error {
  min-height: calc(100vh - (112px + 94px));
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sp {
    min-height: calc(100vh - (78px + 72px));
  }

  &__inner {
    text-align: center;

    @include sp {
      margin: 42px 4%;
    }
  }

  .c-text1 {
    margin-top: 64px;

    @include sp {
      margin: 24px auto 0;
      width: 80%;
    }
  }

  .c-btn3 {
    margin: 32px auto;
  }

  .c-link1 {
    margin-top: 32px;
  }
}