/* ==================================================
* .p-top
================================================== */
.p-top {
  background: $white;
  color: $primary-color;

  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 105%;
      background: #fff url(../images/bg_02.png) repeat-y center top;
      pointer-events: none;
    }
  }

  /*
    * .p-top1
    ================================================== */
  &1 {

    @include sp {
      margin: 0 auto 40px;
    }

    &__body {
      max-width: 980px;
      width: 100%;
      margin: 0 auto 80px;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      color: #333;

      @include sp {
        margin: 0 auto 40px;
      }
    }

    &__txt {
      margin: 0 10px;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.8;

      @include sp {
        margin: 0 10px;
        font-size: 1.4rem;
        line-height: 1.4;
        text-align: left;
      }
    }
  }

  /*
    * .p-top2
    ================================================== */
  &2 {

    /*
        * .p-top2__body
        */
    &__body {
      padding: 30px 0;
      background: url(../images/deliveryfree_bg.jpg) left center;
      background-size: 50% 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      color: $white;

      @include sp {
        padding: 30px 15px;
      }
    }

    /*
        * .p-top2__txt
        */
    &__txt {
      width: 100%;
      font-size: 2.2rem;
      text-align: center;
      letter-spacing: 1.3px;
      line-height: 1.8;

      @include sp {
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }

    /*
        * .p-top2 .c-btn1
        */
    .c-btn1 {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  /*
    * .p-top3
    ================================================== */
  &3 {
    // background: $black url(../images/content_bg.jpg) center;
    // background-color: $white;
    position: relative;

    /*
        * .p-top3__inner
        */
    &__inner {
      margin: 0 auto;
      padding: 0;
      max-width: 980px;
      position: relative;
      text-align: center;

      @include sp {
        margin: 0 5px;
      }
    }

    /*
        * .p-top3__body
        */
    &__body {
      margin-top: 36px;

      &:first-child {
        margin-top: 0;
      }

      @include sp {
        margin-top: 30px;
      }
    }

    /*
        * .p-top3__box
        */
    &__box {
      margin-bottom: 80px;

      @include sp {
        margin-bottom: 40px;
      }
    }


    /*
		* .p-top3__schedule
		*/
    &__schedule {
      color: $primary-color;
      width: 100%;
      font-size: 1.6rem;

      &__date {
        vertical-align: middle;
      }

      th {
        background-color: $tertiary-color;
        width: 20%;
        padding: 18px 0;
        font-weight: bold;

        @include sp {
          padding: 8px 0;
          text-align: center;
          font-size: 1.3rem;
        }
      }

      th:first-child {
        border-left: 1px solid $tertiary-color;

        @include sp {
          width: 35%;
        }
      }

      th:not(:first-child) {
        border-left: 1px solid $white;

        @include sp {
          width: auto;
        }
      }

      th:last-child {
        border-right: 1px solid $tertiary-color;
      }

      & tr td {
        padding: 18px 0;
        border: 1px solid $tertiary-color;
        vertical-align: middle;

        @include sp {
          padding: 10px 0;
          text-align: center;
          font-size: 1.3rem;
          vertical-align: middle;
        }
      }
    }

    /*
		* c-price_list
		*/
    .c-price_list {
      color: $primary-color;
      border: 1px solid $tertiary-color;
      font-size: 1.6rem;
      margin-bottom: 10px;

      @include sp {
        font-size: 1.3rem;
      }

      &__wrapper {
        display: flex;
      }

      &__ttl {
        width: 25%;
        padding: 18px 20px;
        text-align: left;
        font-weight: bold;
        background-color: $tertiary-color;
        display: flex;
        align-items: center;

        @include sp {
          width: 50%;
          justify-content: left;
          padding: 7px;
        }
      }

      &__price {
        width: 77%;
        color: $primary-color;
        padding: 18px 20px;
        text-align: left;
        font-weight: 400;
        line-height: 2rem;
        display: flex;
        align-items: center;

        @include sp {
          width: 50%;
          padding: 7px;
          line-height: 1.5rem;
        }
      }
    }

    /*
		* .p-top3__info
		*/
    &__info {
      text-align: left;
      color: #333;
      font-size: 1.4rem;
      margin-bottom: 40px;

      @include sp {
        margin-bottom: 20px;
        font-size: 1rem;
      }
    }

    /*
		* .p-top3__online-live
		*/
    &__online-live {
      color: #333;
      line-height: 3rem;
      font-size: 1.6rem;
      margin: 0 0 30px;

      @include sp {
        font-size: 1.3rem;
        text-align: center;
        margin: 0 0 15px;
      }

      &__ttl {
        color: #333;
        line-height: 3rem;
        font-size: 1.6rem;

        @include sp {
          font-size: 1.3rem;
          text-align: center;
        }
      }

      &__txt {
        color: #333;
        line-height: 3rem;
        font-size: 1.6rem;

        @include sp {
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }

    /*
		* .p-top3__online-live
		*/
    &__online-live {
      color: #333;
      line-height: 3rem;
      font-size: 1.6rem;
      margin: 0 0 30px;

      @include sp {
        font-size: 1.3rem;
        text-align: center;
        margin: 0 0 15px;
      }

      &__detail {

        &__wrap {
          margin: 0 auto;
        }

        &__list {

          &__item {

            &:not(:first-child) {
              margin-top: 40px;

              @include sp {
                margin-top: 20px;
              }
            }

            &__inner {
              background-color: #f3fee8;
            }

            &__link {
              margin: 20px 0;
              transition: .2s opacity;

              @include sp {
                margin: 10px 0;
              }

              &:hover {
                opacity: 0.7;
              }

            }

            &__img {
              max-width: 460px;

              @include sp {
                max-width: 350px;
              }
            }

            &__description-wrap {
              padding: 0 20px 20px;
              color: $primary-color;

              @include sp {
                padding: 0 10px 10px;
              }
            }

            &__cast {
              font-size: 1.6rem;
              font-weight: bold;
              text-align: left;
              line-height: 1.75;

              @include sp {
                font-size: 1.3rem;
              }
            }

            &__text {
              text-align: left;
              font-size: 1.6rem;
              line-height: 1.75;

              @include sp {
                font-size: 1.2rem;
              }
            }
          }
        }
      }

      &__ttl {
        color: #333;
        line-height: 3rem;
        font-size: 1.6rem;

        @include sp {
          font-size: 1.3rem;
          text-align: center;
        }
      }

      &__txt {
        color: #333;
        line-height: 3rem;
        font-size: 1.6rem;

        @include sp {
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }

    /*
		* .p-top3__infoText
		*/
    &__infoText {
      margin-top: 40px;
      color: $primary-color;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: .1em;
      text-align: center;

      @include sp {
        margin-top: 20px;
        font-size: 1.4rem;
        letter-spacing: normal;
      }
    }


    &__discount {
      color: #e73262;
      font-size: 1.6rem;
      margin-bottom: 40px;
      font-weight: 700;
      text-align: center;
    }

    /*
        * .p-top3__casts
        */
    &__casts {
      color: #333;
      line-height: 3rem;
      font-size: 1.6rem;

      @include sp {
        font-size: 1.3rem;
        text-align: left;
      }
    }


    /*
        * .p-top3__link
        */
    .c-list2 {
      margin-top: 40px;

      @include sp {
        margin-top: 24px;
      }

      &:only-child {
        margin: 40px auto 0;
      }
    }

    /*
        * .p-top3__footer
        */
    .c-banner1 {
      margin-top: 36px;

      @include sp {
        margin-top: 16px;
      }
    }
  }

  /*
    * .p-top4
    ================================================== */
  &4 {
    background-color: #ddfaff;
    padding: 30px 0 40px;
    position: relative;
    color: #333;
    font-family: 'Noto Sans JP', Meiryo, Roboto, sans-serif;
    margin: 0 0 80px;

    @include sp {
      padding: 15px 0 20px;
      margin: 0 0 40px;
    }

    &__inner {
      max-width: 660px;
      margin: 0 auto;

      @include sp {
        padding: 0 10px;
      }
    }
  }
}