/*
* .p-play
*/
.p-play {
  background-color: $black;
  color: $white;

  .l-container {
    margin: 40px auto 0;
    padding-bottom: 40px;

    @include sp {
      margin: 0;
      padding: 0;
      padding-top: calc(40px + (100vw * 9 / 16));
    }

    &__body {
      .c-banner2 {
        @include pc {
          margin: 30px auto;
        }

        @include sp {
          margin: 10px auto 0;
          order: 3;
        }

        &:last-of-type {
          @include sp {
            margin-bottom: 10px;
          }
        }
      }

      .c-hdg5 {
        margin-top: 30px;

        @include sp {
          margin-top: 10px;
        }

        .c-label1 {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }

    .c-text2 {
      margin-top: 30px;

      @include sp {
        margin: 30px 0 75px;
      }
    }
  }

  &1 {
    &_1 {
      .c-hdg6 {
        margin-top: 30px;

        @include sp {
          margin-top: 10px;
        }

        .c-label1 {
          padding-right: 0;
          padding-left: 0;
        }
      }

      &__label_wrapper {
        min-height: 28px;
      }

      .c-form1 {
        margin: 10px 0 80px;

        @include sp {
          margin-bottom: 20px;
          padding: 0 15px;
        }

        .c-label2 {
          display: none;
        }

        .c-list7 {
          margin-top: 16px;

          @include sp {
            margin-top: 10px;
          }
        }

        .c-radio {
          &__label {
            width: 80px;
            height: 80px;
          }
        }
      }

      .c-accordion {
        margin-top: 50px;
        text-align: center;

        .c-text1 {
          font-size: 1.4rem;
        }

        .c-list8 {
          margin-top: 20px;
        }

        .c-btn6 {
          min-width: 230px;

          @include sp {
            min-width: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

//通常視聴ページのcss調整
.normal-pd-heading {
  @include pc {
    padding: 11px 20px;
  }

  @include sp {}
}

.normal-inner {
  @include pc {
    height: 703px;
  }

  @include sp {}
}