._dev_container {
  margin: 100px auto;
  padding: 30px;
  max-width: $pc-max-size;
  background-color: #dedede;
}

._dev_hdg1 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #000;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

._dev_hdg2 {
  margin: 20px 0 10px;
  border-bottom: 1px solid #000;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}