@mixin sp {
  @media screen and (max-width: #{$breakpoint - 1}px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: #{$breakpoint}px) {
    @content;
  }
}

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin hover {
  @include pc {
    &:hover {
      @content;
    }
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}