/*
* .u-***
*/

[v-cloak] {
  display: none;
}

.u-bg {
  &--red {
    background: $red;
  }

  &--orange {
    background: #ff9f00;
  }

  &--pink {
    background: #ff3f9e;
  }

  &--blue {
    background: #164cc8;
  }

  &--green {
    background: #4ad28a;
  }
}

.u-hide {
  &--pc {
    @include pc {
      display: none !important;
    }
  }

  &--sp {
    @include sp {
      display: none !important;
    }
  }
}

.mt {
  @include pc {
    margin-top: 30px;
  }
}

.u-hover1 {
  opacity: 1;
  transition: .2s opacity;

  @include hover {
    opacity: .7;
  }
}

.linkInactive {
  pointer-events: none;
}