$pathRelative: '/douga_mv/renewal_test/normal_play/';

/*
 *  ブレイクポイント
 */
$breakpoint: 768;

$breakpoint-up: ('sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
  'xxl': 'screen and (min-width: 1440px)',
  'xxxl': 'screen and (min-width: 1920px)',
) !default;

$breakpoint-down: ('xs': 'screen and (max-width: 320px)',
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1023px)',
  'xl': 'screen and (max-width: 1199px)',
  'xxl': 'screen and (max-width: 1439px)',
  'xxxl': 'screen and (min-width: 1919px)',
) !default;

/* size */
$pc-max-size: 1280px;
$pc-mid-size: 960px;

/* color */
$primary-color: #333;
$secondary-color: #666;
$tertiary-color: #b3b3b3;

$black: #000;
$white: #fff;

$red: #ff0033;
$yellow: #ffff11;
$pink: #ff009b;

/* bg */
$day: #1b1b1b;
$night: #020202;

/* tweet */
$tweet-blue: #6ecfff;