<footer class="c-footer2">
  <div class="c-footer2__inner">
    <ul class="c-list4">
      <li
        class="c-list4__item"
        v-for="(logo, index) in footer.logo"
        :key="index"
        v-if="logo.visible"
      >
        <a
        :href="logo.link"
        :target="logo.blank ? '_blank': false"
        :rel="logo.blank ? 'noreferrer noopener': false"
        class="c-list4__link"
        >
          <img
            :src="logo.image"
            :alt="logo.alt"
            loading="lazy"
            class="c-list4__img"
          >
        </a><!-- /.c-list4__link -->
      </li><!-- /.c-list4__item -->
    </ul><!-- /.c-list4 -->
    <p class="c-copy2" v-html="footer.copy"></p>
  </div><!-- /.c-footer2__inner -->
</footer><!-- /.c-footer2 -->