<div class="c-footer1">
  <footer class="c-footer1__inner" v-if="footer">
    <ul class="c-list3">
      <li
        class="c-list3__item"
        v-for="(logo, index) in footer.logo"
        :key="index"
        v-if="logo.visible"
      >
        <a
          :href="logo.link"
          :target="logo.blank ? '_blank': false"
          :rel="logo.blank ? 'noreferrer noopener': false"
          class="c-list3__link"
        >
          <img
            :src="logo.image"
            :alt="logo.alt"
            loading="lazy"
            class="c-list3__img"
          >
        </a>
      </li>
    </ul><!-- /.c-list3 -->

    <div class="c-nav1__wrap">
      <ul class="c-nav1">
        <li
          class="c-nav1__item"
          v-for="(nav, index) in footer.navigation"
          :key="index"
          v-if="nav.visible"
        >
          <a
            :href="nav.link"
            :target="nav.blank ? '_blank': false"
            :rel="nav.blank ? 'noreferrer noopener': false"
            v-html="nav.text"
            class="c-nav1__link"
          >
          </a>
        </li>
        <li
          class="c-nav1__item--login_btn"
          v-if="footer.button && (footer.button.login.visible || footer.button.logout.visible)"
        >
          <a
            :href="footer.button.login.href"
            :target="footer.button.login.blank || '_blank'"
            v-if="footer.button.login.visible"
            v-html="footer.button.login.text"
            class="c-btn2"
          >
          </a>
          <a
            :href="footer.button.logout.href"
            :target="footer.button.logout.blank || '_blank'"
            v-if="footer.button.logout.visible"
            v-html="footer.button.logout.text"
            class="c-btn2"
          >
          </a>
        </li><!-- /.c-nav1__item--login_btn -->
      </ul><!-- /.c-nav1 -->
    </div><!-- /.c-nav1__wrap -->
  </footer><!-- /.c-footer1__wrapper -->

  <small class="c-copy1" v-html="footer.copy"></small>
</div><!-- /.c-footer1 -->