<header class="c-header1">
  <div class="c-header1__inner">
    <h1 class="c-hdg6">
      <a
        :href="header.link"
        class="c-hdg6__link"
      >
        <img
          :src="header.img"
          :alt="header.alt"
          loading="lazy"
          class="c-hdg6__img"
        >
      </a>
    </h1><!-- /.c-hdg6 -->
    <p
      class="c-label1"
      v-if="response.status && response.status.story.visible"
      v-html="response.status.story.text"
    >
    </p>
    <p
      class="c-label1--purchased"
      v-if="response.status && response.status.purchase.visible"
      v-html="response.status.purchase.text"
    >
    </p>
  </div><!-- /.c-header1__inner -->
</header><!-- /.c-header1 -->