<div
  id="app"
  class="p-play"
  v-if="Object.keys(response).length"
  v-cloak
>
  <%- include('../components/_header1', { path: path }) %>
  <main class="p-play1 l-container">
    <div class="p-play1_1 l-container__body">
      <div class="c-video1">
        <img
          :src="response.player.thumbnail"
          :alt="response.player.alt"
          loading="lazy"
          v-if="response.player.thumbnail !== ''"
          class="c-video1__thumb"
        >
        <div
          class="c-video1__video"
          v-html="response.player.video"
        >
        </div>
      </div><!-- /.c-video1 -->

      <form
        v-if="response.button_list.visible"
        class="c-form1"
      >
        <div class="p-play1_1__label_wrapper">
          <p
            id="labelUnVoted"
            class="c-label2"
          >
            未投票
          </p>
          <p
            id="labelVoted"
            class="c-label2--voted"
          >
            投票済
          </p>
        </div><!-- /.p-play1_1__label_wrapper -->
        <ul class="c-list7">
          <li
            v-for="(item, i) in response.button_list.list"
            :key="i"
            class="c-list7__item"
          >
            <input
              type="radio"
              :id="'fRadio' + (i + 1)"
              name="vote"
              :value="'vote' + (i + 1)"
              :data-material-id="item.id"
              v-model="selectedRadio"
              @click="isAccordionOpen = true; isVoted = false"
              class="c-radio1"
            >
            <label
              :for="'fRadio' + (i + 1)"
              class="c-radio1__label"
            >
              <img
                :src="item.src"
                :alt="item.alt"
                width="67"
                height="67"
                class="c-radio1__img"
              >
            </label>
          </li><!-- /.c-list7__item -->
        </ul><!-- /.c-list7 -->
        <div
          v-show="isAccordionOpen === true"
          class="c-accordion"
        >
          <p
            v-html="isVoted ? '投票を受け付けました。ありがとうございました。' : '投票は一度しかできません。投票しますか？'"
            class="c-text1"
          >
          </p>
          <ul class="c-list8">
            <li
              v-show="isVoted"
              class="c-list8__item"
            >
              <button
                type="button"
                id="closeButton"
                @click="isAccordionOpen = false"
                class="c-btn6"
              >
                閉じる
              </button>
            </li>
            <li
              v-show="!isVoted"
              class="c-list8__item"
            >
              <button
                type="button"
                @click="selectedRadio = null; isAccordionOpen = false"
                class="c-btn6"
              >
                キャンセル
              </button>
            </li>
            <li
              v-show="!isVoted"
              class="c-list8__item"
            >
              <button
                type="submit"
                id="votebtn"
                @click="onSubmit"
                class="c-btn6--pink"
              >
                投票する
              </button>
            </li>
          </ul><!-- /.c-list8 -->
        </div><!-- /.c-accordion -->
      </form><!-- /.c-form1 -->

      <a
        :href="item.link"
        :target="item.blank ? '_blank': false"
        :rel="item.blank ? 'noreferrer noopener': false"
        v-for="(item, index) in response.banner"
        :key="index"
        v-if="item.visible"
        class="c-banner2"
      >
        <img
          :src="item.image.pc"
          :alt="item.image.alt"
          loading="lazy"
          class="u-hide--sp"
        >
        <img
          :src="item.image.sp"
          :alt="item.image.alt"
          loading="lazy"
          class="u-hide--pc"
        >
      </a><!-- /.c-banner2 -->

      <div class="u-hide--sp">
        <div class="c-hdg5">
          <span
            v-if="response.status.purchase.visible"
            v-html="response.status.purchase.text"
            class="c-label1--purchased"
          >
          </span>
          <h2
            v-html="response.detail.title"
            class="c-hdg5__text"
          >
          </h2>
        </div><!-- /.c-hdg5 -->
        <p
          v-html="response.detail.description"
          class="c-text2"
        >
        </p>
      </div><!-- /.u-hide--sp -->
    </div><!-- /.p-play1_1 .l-container__body -->

    <div class="l-container__side c-list5">
      <div class="c-list5__tab u-hide--pc">
        <button
          type="button"
          data-target="#comment"
          class="c-list5__tab__button js-sp-tab is-active"
        >
          コメント
        </button>
        <button
          type="button"
          data-target="#exact"
          class="c-list5__tab__button js-sp-tab"
        >
          番組詳細
        </button>
      </div><!-- /.c-list5__tab -->

      <div
        id="comment"
        class="c-list5__panel c-tweet js-sp-contents is-active"
      >
        <header
          id="js-tweet-target"
          class="c-tweet__header normal-pd-heading"
        >
          <a
            :href="'https://twitter.com/intent/tweet?text=' + response.tweet.text + ' ' + response.tweet.hashtags[0] + ' ' + response.tweet.hashtags[1] + ' ' + (response.tweet.url ? '&url=' + response.tweet.url : '')"
            target="_blank"
            v-if="response.tweet.visible"
            class="c-btn4"
          >
            ツイートする
          </a>
          <a
            :href="'https://twitter.com/intent/tweet?text=' + response.tweetOR.text + ' ' + response.tweetOR.hashtags[0] + ' ' + response.tweetOR.hashtags[1] + ' ' + (response.tweetOR.url ? '&url=' + response.tweetOR.url : '')"
            target="_blank"
            v-if="response.tweetOR.visible"
            class="c-btn4"
          >
            ツイートする
          </a>
          <div
            v-if="response.tweet.visible"
            class="c-icon_twitter_wrap"
          >
            <p
              v-html="response.tweet.iconSide_hashtags[0]"
              class="c-hashtag c-icon_twitter"
            >
            </p>
            <p
              v-html="response.tweet.iconSide_hashtags[1]"
              class="c-hashtag c-icon_twitter"
            >
            </p>
          </div>
          <div
            v-if="response.tweetOR.visible"
            class="c-icon_twitter_wrap"
          >
            <p
              v-html="response.tweetOR.iconSide_hashtags[0]"
              class="c-hashtag c-icon_twitter"
            >
            </p>
            <p
              v-html="response.tweetOR.iconSide_hashtags[1]"
              class="c-hashtag c-icon_twitter"
            >
            </p>
          </div>
        </header>
        <ul
          v-if="twitterData"
          id="js-tweet"
          class="c-list6"
        >
          <li
            v-for="(tweet, i) in twitterData.tweet_list"
            :key="i"
            class="c-list6__item"
          >
            <img
              :src="tweet.icon.replace(/http\:\/\//, 'https://')"
              :alt="tweet.name"
              loading="lazy"
              class="c-list6__item__img"
            >
            <div class="c-list6__box">
              <p
                v-html="tweet.screen_name"
                class="c-list6__box__name"
              >
              </p>
              <p
                v-html="decodeURI(tweet.text)"
                class="c-list6__box__text"
              >
              </p>
            </div>
          </li>
        </ul>
        <a
          :href="'https://twitter.com/search?q=' +(response.tweet.hashtags[0]) + '%20' + (response.tweet.hashtags[1]) +'&src=typed_query'"
          target="_blank"
          rel="noreferrer noopener"
          v-if="response.tweet.visible"
          class="c-btn5"
        >
          すべてを見る
        </a>
        <a
          :href="'https://twitter.com/search?q=' +(response.tweetOR.hashtags[0]) + '%20' + 'OR' + '%20' + (response.tweetOR.hashtags[1]) +'&src=typed_query'"
          target="_blank"
          rel="noreferrer noopener"
          v-if="response.tweetOR.visible"
          class="c-btn5"
        >
          すべてを見る
        </a>
      </div><!-- /.c-list5__panel -->

      <div
        id="exact"
        class="c-list5__panel js-sp-contents u-hide--pc"
      >
        <div class="c-hdg5">
          <span
            v-if="response.status.purchase.visible"
            v-html="response.status.purchase.text"
            class="c-label1--purchased"
          >
          </span>
          <h2
            v-html="response.detail.title"
            class="c-hdg5__text"
          >
          </h2>
        </div>
        <p
          v-html="response.detail.description"
          class="c-text2"
        >
        </p>
      </div><!-- /.c-list5__panel -->
    </div><!-- /.l-container__side .c-list5 -->
  </main><!-- /.p-play1 -->
  <%- include('../components/_footer1', { path: path, data: data }) %>
</div><!-- /.p-play -->
<script type="text/javascript" src="/apps/douga/gifting/js/jquery.min.js"></script>
<script type="text/javascript" src="/apps/douga/gifting/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/apps/douga/gifting/js/vote.js"></script>
<script type="text/javascript" src="/apps/douga/gifting/js/check-vote.js"></script>