<%
const dirName = '/renewal_test/normal_play/'
const path = {
    absolute: 'https://www.tv-asahi.co.jp',
    relative: `/douga_mv${dirName}`,
    productDirectory: dirName
}
var data = {
    type: '',
    title: '',
    description: '',
    keywords: '',
    noIndex: true
}
%>
<%- include('./common/_head', { data: data, path: path }) %>
<div id="app">
  <div>
    <div class="_dev_hdg1">1_layout/_header</div>
    <div>
      <div class="_dev_hdg2">c-header1</div>
      <%- include('./components/_header1', { path: path }) %>
    </div>
  </div>

  <div>
    <div class="_dev_hdg1">1_layout/_footer</div>
    <div>
      <div class="_dev_hdg2">c-footer1</div>
      <%- include('./components/_footer1', { path: path }) %>
    </div>

    <div>
      <div class="_dev_hdg2">c-footer2</div>
      <%- include('./components/_footer2', { path: path }) %>
    </div>
  </div>

  <div class="_dev_container">
    <div>
      <div class="_dev_hdg1">1_component/_01_btn</div>
      <div>
        <div class="_dev_hdg2">c-btn1</div>
        <a href="#" class="c-btn1">
          <img src="<%= path.relative %>/images/player_2.png" alt="">
        </a>
      </div>

      <div>
        <div class="_dev_hdg2">c-btn2</div>
        <a href="#" class="c-btn2">ログイン</a>
      </div>

      <div>
        <div class="_dev_hdg2">c-btn3</div>
        <a href="#" class="c-btn3">
          <img src="<%= path.relative %>/images/btn_purchase_660x110.png" alt="" loading="lazy" class="c-btn3__img">
        </a>
      </div>

      <div>
        <div class="_dev_hdg2">c-btn4</div>
        <a href="#" class="c-btn4">
          ツイートする
        </a>
      </div>

      <div>
        <div class="_dev_hdg2">c-btn5</div>
        <a href="#" class="c-btn5">
          すべてを見る
        </a>
      </div>
    </div>

    <div>
      <div class="_dev_hdg1">1_component/_02_title</div>
      <div>
        <div class="_dev_hdg2">c-hdg1</div>
        <h1 class="c-hdg1">
          <img src="<%= path.relative %>/images/main.jpg" alt="" class="c-hdg1__img">
        </h1>
      </div>

      <div>
        <div class="_dev_hdg2">c-hdg2</div>
        <h2 class="c-hdg2">配信の視聴はこちらから</h2>
      </div>

      <div>
        <div class="_dev_hdg2">c-hdg7</div>
        <h1 class="c-hdg7">
          ダミーテキスト<br>ダミーテキスト
        </h1>
      </div>

      <div>
        <div class="_dev_hdg2">c-hdg6</div>
        <h1 class="c-hdg6">
          <a href="#" class="c-hdg6__link">
            <img src="<%= path.relative %>/images/logo2021spring.png" alt="" loading="lazy" class="c-hdg6__img">
          </a>
        </h1>
      </div>

      <div>
        <div class="_dev_hdg2">c-hdg5</div>
        <div class="c-hdg5">
          <span class="c-label1--purchased">購入テスト</span>
          <h2 class="c-hdg5__text">電脳少女シロ生誕祭2</h2>
        </div>
      </div>
    </div>

    <div>
      <div class="_dev_hdg1">1_component/_03_icon</div>
      <div>
        <div class="_dev_hdg2">c-icon_twitter</div>
        <p class="c-hashtag c-icon_twitter"># 僕ヶ原</p>
      </div>
    </div>

    <div>
      <div class="_dev_hdg1">1_component/_04_form</div>
    </div>

    <div>
      <div class="_dev_hdg1">1_component/_05_text</div>
      <div>
        <div class="_dev_hdg2">c-text1</div>
        <p class="c-text1">ダミーテキストここに文言が入ります<br>ダミーテキストここに文言が入ります</p>
      </div>

      <div>
        <div class="_dev_hdg2">c-text2</div>
        <p class="c-text2">
          料金：有料配信チケット　6,000円（税込）<br>放送日：3月1日（日）18:00開演　～　20:30終演予定<br><br>2022年3月。<br>「超人女子戦士 ガリベンガーV」の放送が始まってから1年が経った。<br>番組のメインMCである小峠教官とVチューバーの電脳少女シロは、 放送1周年を祝うため<br>特別ゲストをパシフィコ横浜に招待し、 豪華なステージイベントを開催するつもりだったのだが・・・<br><br>日夜超難問を解き続け、頭脳を徹底的に鍛えてきた「ガリベンガー」<br>ついに、その頭脳を駆使して、戦う時がやって来た！<br>悪戦苦闘！激闘必至！バーチャルとリアルが交差する感動巨編！
        </p>
      </div>

      <div>
        <div class="_dev_hdg2">c-link1</div>
        <a href="#" class="c-link1">
          < 戻る</a> </div> </div> <div>
            <div class="_dev_hdg1">1_component/_06_navi</div>
            <div>
              <div class="_dev_hdg2">c-nav1</div>
              <div class="c-nav1__wrap">
                <ul class="c-nav1">
                  <li class="c-nav1__item">
                    <a href="#" class="c-nav1__link">サービス利用規約</a>
                  </li>
                  <li class="c-nav1__item">
                    <a href="#" class="c-nav1__link">FAQ</a>
                  </li>
                  <li class="c-nav1__item">
                    <a href="#" class="c-nav1__link">お問い合わせ</a>
                  </li>
                  <li class="c-nav1__item">
                    <a href="#" class="c-nav1__link">tv asahi idとは？</a>
                  </li>
                  <li class="c-nav1__item">
                    <a href="#" class="c-nav1__link">新規登録</a>
                  </li>
                  <li class="c-nav1__item--login_btn">
                    <a href="#" class="c-btn2">ログイン</a>
                    <a href="#" class="c-btn2">ログアウト</a>
                  </li>
                </ul>
              </div>
            </div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_07_img</div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_08_list</div>
        <div>
          <div class="_dev_hdg2">c-list1</div>
          <ul class="c-list1">
            <li class="c-list1__item">・日本国外から配信の視聴はできません。<br>　ダミーテキスト</li>
            <li class="c-list1__item">・参加者多数の場合は、販売終了日時以前に配信チケットの販売を終了させて頂く場合があります。</li>
            <li class="c-list1__item">・配信チケットのご購入は、2022年7月25日(土)23:59までとなります。</li>
          </ul>
        </div>

        <div>
          <div class="_dev_hdg2">c-list2</div>
          <ul class="c-list2">
            <li class="c-list2__item">
              <a href="#" class="c-list2__link">
                <img src="<%= path.relative %>/images/player_1.png" alt="" class="c-list2__img">
              </a>
              <button class="c-list2__item__tip js-overview-open">公演概要</button>
              <div class="c-modal1 js-overview-target">
                <p class="c-modal1__text">111 ここに文言が入ります。ここに文言が入ります。ここに文言が入ります。<br>ここに文言が入ります。</p>
                <img src="<%= path.relative %>/images/close.png" alt="close" class="c-modal1__close js-overview-close">
              </div>
            </li>
          </ul>
        </div>

        <div>
          <div class="_dev_hdg2">c-list3</div>
          <ul class="c-list3">
            <li class="c-list3__item">
              <a href="https://douga.tv-asahi.co.jp" class="c-list3__link">
                <img src="<%= path.relative %>images/logo-tv-asahi-douga-new.png" alt="テレ朝動画" loading="lazy" class="c-list3__img">
              </a>
            </li>
            <li class="c-list3__item">
              <a href="/douga_mv/ex-theater-online/" class="c-list3__link">
                <img src="<%= path.relative %>images/extheater.png" alt="EX THEATER ONLINE" loading="lazy" class="c-list3__img">
              </a>
            </li>
          </ul>
        </div>

        <div>
          <div class="_dev_hdg2">c-list4</div>
          <ul class="c-list4">
            <li class="c-list4__item">
              <a href="https://douga.tv-asahi.co.jp" class="c-list4__link">
                <img src="<%= path.relative %>images/logo-tv-asahi-douga-new.png" alt="テレ朝動画" loading="lazy" class="c-list4__img">
              </a>
            </li>
            <li class="c-list4__item">
              <a href="/douga_mv/ex-theater-online/" class="c-list4__link">
                <img src="<%= path.relative %>images/extheater.png" alt="EX THEATER ONLINE" loading="lazy" class="c-list4__img">
              </a>
            </li>
          </ul>
        </div>

        <div>
          <div class="_dev_hdg2">c-list5</div>
          <div class="l-container__side c-list5">
            <div class="c-list5__tab u-hide--pc">
              <button type="button" data-target="#comment" class="c-list5__tab__button js-sp-tab is-active">コメント</button>
              <button type="button" data-target="#exact" class="c-list5__tab__button js-sp-tab">番組詳細</button>
            </div>

            <div id="comment" class="c-list5__panel c-tweet js-sp-contents is-active">
              <header id="js-tweet-target" class="c-tweet__header normal-pd-heading">
                <a href="" target="_blank" class="c-btn4">
                  ツイートする
                </a>
                <p class="c-hashtag c-icon_twitter"># 僕ヶ原</p>
              </header>
              <ul id="js-tweet" class="c-list6">
                <li class="c-list6__item">
                  <img src="http://pbs.twimg.com/profile_images/2419894804/QkRcOoxl_normal" alt="" loading="lazy" class="c-list6__item__img">
                  <div class="c-list6__box">
                    <p class="c-list6__box__name">sakinosukedo</p>
                    <p class="c-list6__box__text">「「「play １１１」」」<br>RT @nkyshk: 【舞台写真あり】レポートしていただきました！ #僕ヶ原 #俺の陣<br><br>須賀健太、染谷俊之、黒羽麻璃央らが無観客ライブ配信朗読劇に集結。『僕とあいつの関ヶ原』＆『俺とおまえの夏の陣』</p>
                  </div>
                </li>
                <li class="c-list6__item">
                  <img src="http://pbs.twimg.com/profile_images/2419894804/QkRcOoxl_normal" alt="" loading="lazy" class="c-list6__item__img">
                  <div class="c-list6__box">
                    <p class="c-list6__box__name">sakinosukedo</p>
                    <p class="c-list6__box__text">「「「play １１１」」」<br>RT @nkyshk: 【舞台写真あり】レポートしていただきました！ #僕ヶ原 #俺の陣<br><br>須賀健太、染谷俊之、黒羽麻璃央らが無観客ライブ配信朗読劇に集結。『僕とあいつの関ヶ原』＆『俺とおまえの夏の陣』</p>
                  </div>
                </li>
                <li class="c-list6__item">
                  <img src="http://pbs.twimg.com/profile_images/2419894804/QkRcOoxl_normal" alt="" loading="lazy" class="c-list6__item__img">
                  <div class="c-list6__box">
                    <p class="c-list6__box__name">sakinosukedo</p>
                    <p class="c-list6__box__text">「「「play １１１」」」<br>RT @nkyshk: 【舞台写真あり】レポートしていただきました！ #僕ヶ原 #俺の陣<br><br>須賀健太、染谷俊之、黒羽麻璃央らが無観客ライブ配信朗読劇に集結。『僕とあいつの関ヶ原』＆『俺とおまえの夏の陣』</p>
                  </div>
                </li>
              </ul>
              <a href="" target="_blank" rel="noreferrer noopener" class="c-btn5">
                すべてを見る
              </a>
            </div>

            <div id="exact" class="c-list5__panel js-sp-contents u-hide--pc">
              <div class="c-hdg5">
                <span class="c-label1--purchased">購入テスト</span>
                <h2 class="c-hdg5__text">電脳少女シロ生誕祭2</h2>
              </div>
              <p class="c-text2">料金：有料配信チケット　6,000円（税込）<br>放送日：3月1日（日）18:00開演　～　20:30終演予定<br><br>2022年3月。<br>「超人女子戦士 ガリベンガーV」の放送が始まってから1年が経った。<br>番組のメインMCである小峠教官とVチューバーの電脳少女シロは、 放送1周年を祝うため<br>特別ゲストをパシフィコ横浜に招待し、 豪華なステージイベントを開催するつもりだったのだが・・・<br><br>日夜超難問を解き続け、頭脳を徹底的に鍛えてきた「ガリベンガー」<br>ついに、その頭脳を駆使して、戦う時がやって来た！<br>悪戦苦闘！激闘必至！バーチャルとリアルが交差する感動巨編！</p>
            </div>
          </div>
        </div>

        <div>
          <div class="_dev_hdg2">c-list6</div>
          <ul id="js-tweet" class="c-list6">
            <ul id="js-tweet" class="c-list6">
              <li class="c-list6__item">
                <img src="http://pbs.twimg.com/profile_images/2419894804/QkRcOoxl_normal" alt="" loading="lazy" class="c-list6__item__img">
                <div class="c-list6__box">
                  <p class="c-list6__box__name">sakinosukedo</p>
                  <p class="c-list6__box__text">「「「play １１１」」」<br>RT @nkyshk: 【舞台写真あり】レポートしていただきました！ #僕ヶ原 #俺の陣<br><br>須賀健太、染谷俊之、黒羽麻璃央らが無観客ライブ配信朗読劇に集結。『僕とあいつの関ヶ原』＆『俺とおまえの夏の陣』</p>
                </div>
              </li>
              <li class="c-list6__item">
                <img src="http://pbs.twimg.com/profile_images/2419894804/QkRcOoxl_normal" alt="" loading="lazy" class="c-list6__item__img">
                <div class="c-list6__box">
                  <p class="c-list6__box__name">sakinosukedo</p>
                  <p class="c-list6__box__text">「「「play １１１」」」<br>RT @nkyshk: 【舞台写真あり】レポートしていただきました！ #僕ヶ原 #俺の陣<br><br>須賀健太、染谷俊之、黒羽麻璃央らが無観客ライブ配信朗読劇に集結。『僕とあいつの関ヶ原』＆『俺とおまえの夏の陣』</p>
                </div>
              </li>
              <li class="c-list6__item">
                <img src="http://pbs.twimg.com/profile_images/2419894804/QkRcOoxl_normal" alt="" loading="lazy" class="c-list6__item__img">
                <div class="c-list6__box">
                  <p class="c-list6__box__name">sakinosukedo</p>
                  <p class="c-list6__box__text">「「「play １１１」」」<br>RT @nkyshk: 【舞台写真あり】レポートしていただきました！ #僕ヶ原 #俺の陣<br><br>須賀健太、染谷俊之、黒羽麻璃央らが無観客ライブ配信朗読劇に集結。『僕とあいつの関ヶ原』＆『俺とおまえの夏の陣』</p>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_09_table</div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_10_line</div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_11_video</div>
        <div>
          <div class="_dev_hdg2">c-video1</div>
          <div class="c-video1">
            <img src="http://satyr.io/1920x1080/?text=player" alt="" loading="lazy" class="c-video1__thumb">
            <div class="c-video1__video"></div>
          </div>
        </div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_12_slide</div>
      </div>

      <div>
        <div class="_dev_hdg1">1_component/_99_other</div>
        <div>
          <div class="_dev_hdg2">c-tweet</div>
          <div id="comment" class="c-list5__panel c-tweet js-sp-contents is-active">
            <header id="js-tweet-target" class="c-tweet__header normal-pd-heading">
              <a href="" target="_blank" class="c-btn4">
                ツイートする
              </a>
              <p class="c-hashtag c-icon_twitter"># 僕ヶ原</p>
            </header>
          </div>
        </div>

        <div>
          <div class="_dev_hdg2">c-hashtag</div>
          <p class="c-hashtag c-icon_twitter"># 僕ヶ原</p>
        </div>

        <div>
          <div class="_dev_hdg2">c-modal1</div>
          <div class="c-modal1" style="display: block; position: relative;">
            <p class="c-modal1__text">111 ここに文言が入ります。ここに文言が入ります。ここに文言が入ります。<br>ここに文言が入ります。</p>
            <img src="<%= path.relative %>/images/close.png" alt="close" class="c-modal1__close js-overview-close">
          </div>
        </div>

        <div>
          <div class="_dev_hdg2">c-ticket</div>
          <div class="c-ticket">
            <a href="#" class="c-ticket__link">
              <img src="<%= path.relative %>/images/btn_purchase_660x110.png" alt="">
            </a>
            <ul class="c-list1">
              <li class="c-list1__item">・日本国外から配信の視聴はできません。<br>　ダミーテキスト</li>
              <li class="c-list1__item">・参加者多数の場合は、販売終了日時以前に配信チケットの販売を終了させて頂く場合があります。</li>
              <li class="c-list1__item">・配信チケットのご購入は、2022年7月25日(土)23:59までとなります。</li>
            </ul>
          </div>
        </div>

        <div>
          <div class="_dev_hdg2">c-banner1</div>
          <div class="c-banner1">
            <a href="#" class="c-banner1__link">
              <img src="http://satyr.io/992x187" alt="" class="c-banner1__img">
            </a>
            <p class="c-banner1__note">ここに文言が入ります。ここに文言が入ります。ここに文言が入ります。<br>ここに文言が入ります。</p>
          </div>
        </div>

        <div>
          <div class="_dev_hdg2">c-banner2</div>
          <a href="#" class="c-banner2">
            <img src="http://satyr.io/820x90/?text=banner" alt="" loading="lazy" class="u-hide--sp">
            <img src="http://satyr.io/820x90/?text=banner" alt="" loading="lazy" class="u-hide--pc">
          </a>
        </div>

        <div>
          <div class="_dev_hdg2">c-copy1</div>
          <small class="c-copy1">Copyright© tv asahi All rights reserved.</small>
        </div>

        <div>
          <div class="_dev_hdg2">c-copy2</div>
          <p class="c-copy2">Copyright© tv asahi All rights reserved.</p>
        </div>

        <div>
          <div class="_dev_hdg2">c-label1</div>
          <p class="c-label1">テスト</p>
          <div class="_dev_hdg2">c-label1--purchased</div>
          <p class="c-label1--purchased">購入テスト</p>
        </div>
      </div>
    </div>
  </div><!-- /#app -->
  <%- include('./common/_foot', { path: path, data: data }) %>