<%
const dirName = '/renewal_test/normal_play/'
const path = {
    absolute: 'https://www.tv-asahi.co.jp',
    relative: `/douga_mv${dirName}`,
    productDirectory: dirName
}
var data = {
    type: 'error',
    title: 'イベント名│テレビ朝日',
    description: 'イベント名　配信決定！！',
    keywords: '',
    noIndex: true
}
%>
<%- include('./common/_head', { data: data, path: path }) %>
<div id="app" v-if="Object.keys(response).length" v-cloak>
  <%- include('./components/_header1', { path: path }) %>
  <main class="p-error">
    <div class="p-error__inner">
      <h2
        v-html="response.textarea.large"
        class="c-hdg7"
      >
      </h2>
      <p
        v-html="response.textarea.small"
        class="c-text1"
      >
      </p>
      <a
        :href="item.link"
        :target="item.blank ? '_blank': false"
        :rel="item.blank ? 'noreferrer noopener': false"
        v-for="(item, index) in response.banner"
        :key="index"
        v-if="item.visible"
        class="c-btn3"
      >
        <img
          :src="item.image"
          :alt="item.alt"
          loading="lazy"
          class="c-btn3__img"
        >
      </a>

      <a
        :href="response.textlink.link"
        :target="response.textlink.blank ? '_blank': false"
        v-if="response.textlink.visible"
        v-html="response.textlink.text"
        class="c-link1"
      >
      </a>
    </div><!-- /.p-error__inner -->
  </main><!-- /.p-error -->
  <%- include('./components/_footer2', { path: path }) %>
</div><!-- /#app -->
<%- include('./common/_foot', { path: path, data: data }) %>