<%
const dirName = '/renewal_test/normal_play/'
const path = {
    absolute: 'https://www.tv-asahi.co.jp',
    relative: `/douga_mv${dirName}`,
    productDirectory: dirName
}
const data = {
    type: 'top',
    title: 'イベント名│テレビ朝日',
    description: 'イベント名　配信決定！！',
    keywords: '',
    noIndex: true
}
%>
<%- include('./common/_head', { data: data, path: path }) %>
<div
  id="app" v-if="Object.keys(response).length"
  v-cloak
>
  <main class="p-top">
    <h1 class="c-hdg1">
      <img
        :src="response.page.thumbnail"
        :alt="response.page.title"
        class="c-hdg1__img"
      >
    </h1>
    <div class="p-top__inner">
      <div class="p-top1">
        <div
          v-for="(content, index) in response.delivery.contents"
          :key="index"
          class="p-top1__body"
        >
          <h4
            v-if="content.title.visible"
            v-html="content.title.text"
            class="c-hdg4"
          >
          </h4>
          <p
            v-if="content.summary.visible"
            v-html="content.summary.text"
            class="p-top1__txt"
          >
          </p>
          <ul class="c-list2">
            <li
              v-for="(item, index) in content.items"
              :key="index"
              v-if="item.visible"
              class="c-list2__item"
            >
              <a
                :href="item.link"
                :target="item.blank ? '_blank': false"
                :class="{ linkInactive:item.linkInactive }"
                class="c-list2__link"
              >
                <img
                  :src="item.thumbnail"
                  :alt="item.alt"
                  class="c-list2__img"
                >
              </a>
            </li><!-- /.c-list2__item -->
          </ul><!-- /.c-list2 -->
          <div
            class="p-top4 reset--bg reset--pd reset--mg"
          >
            <div class="p-top4__inner">
              <div
                v-for="(bnr, index) in response.ticket.banner1"
                :key="bnr.index"
                class="c-ticket"
              >
                <a
                  :href="bnr.link"
                  :target="bnr.blank ? '_blank': false"
                  v-if="bnr.visible"
                  :class="{ linkInactive:bnr.linkInactive }"
                  class="c-ticket__link"
                >
                  <img
                    :src="bnr.thumbnail"
                    :alt="bnr.alt"
                  >
                </a><!-- /.c-ticket__link -->
                <ul
                  v-if="bnr.textarea.visible"
                  class="c-list1"
                >
                  <li
                    v-for="(textRed, index) in bnr.textarea.textRed.inner"
                    :key="index"
                    v-html="textRed"
                    class="c-list1__item red-emphasis"
                  >
                  </li>
                  <li
                    v-for="(textCenterBold, index) in bnr.textarea.textCenterBold.inner"
                    :key="index"
                    v-html="textCenterBold"
                    class="c-list1__item center-bold"
                  >
                  </li>
                  <li
                    v-for="(text, index) in bnr.textarea.text.inner"
                    :key="index"
                    v-html="text"
                    class="c-list1__item"
                  >
                  </li>
                </ul><!-- /.c-list1 -->
              </div><!-- /.c-ticket -->
            </div><!-- /.p-top4__inner -->
          </div><!-- /.p-top4 -->
        </div><!-- /.p-top1__body -->
      </div><!-- /.p-top1 -->
      <div class="p-top3">
        <div class="p-top3__inner">
          <div class="p-top3__body">
            <section
              v-for="(content, index) in response.delivery.contents"
              :key="index"
              v-if="content.cast.visible"
              class="p-top3__box sec1"
            >
              <h2
                v-html="content.cast.title"
                class="c-hdg2"
              >
              </h2>
              <p
                v-if="content.cast.member.visible"
                v-html="content.cast.member.name"
                class="p-top3__casts"
              >
              </p>
            </section><!-- /.p-top3__box sec1 -->
            <section
              v-for="(content, index) in response.delivery.contents"
              :key="index"
              v-if="content.dateOfEvent.visible"
              class="p-top3__box sec2"
            >
              <h2
                v-html="content.dateOfEvent.title"
                class="c-hdg2"
              >
              </h2>
              <table
                v-if="content.dateOfEvent.timeTable.visible"
                class="p-top3__schedule"
              >
                <tr
                  v-for="(eventTitle, index) in content.dateOfEvent.timeTable.eventTitle"
                  :key="index"
                >
                  <th
                    v-html="eventTitle.eventDateTitle"
                  >
                  </th>
                  <th
                    v-html="eventTitle.eventOpenTime"
                  >
                  </th>
                  <th
                    v-html="eventTitle.eventStartTime"
                  >
                  </th>
                  <th
                    v-html="eventTitle.eventEndTime"
                  >
                  </th>
                </tr>
                <tr
                  v-for="(eventDetail, index) in content.dateOfEvent.timeTable.eventDetail"
                  :key="index"
                  v-if="eventDetail.visible"
                >
                  <td
                    v-html="eventDetail.eventDetailDate"
                    class="p-top3__schedule__date"
                  >
                  </td>
                  <td
                    v-html="eventDetail.eventDetailOpenTime"
                  >
                  </td>
                  <td
                    v-html="eventDetail.eventDetailStartTime"
                  >
                  </td>
                  <td
                    v-html="eventDetail.eventDetailEndTime"
                  >
                  </td>
                </tr>
              </table><!-- /.p-top3__schedule -->
            </section><!-- /.p-top3__box sec2 -->
            <section
              v-for="(content, index) in response.delivery.contents"
              :key="index"
              v-if="content.ticketPrice.visible"
              class="p-top3__box sec3"
            >
              <h2
                v-html="content.ticketPrice.title"
                class="c-hdg2"
              >
              </h2>
              <dl class="c-price_list">
                <div
                  v-for="(ticketTableTop, index) in content.ticketPrice.ticketTableTop"
                  :key="index"
                  class="c-price_list__wrapper"
                >
                  <dt
                    v-html="ticketTableTop.ticketTitleDetail"
                    class="c-price_list__ttl"
                  >
                  </dt>
                  <dd
                    v-html="ticketTableTop.ticketPriceDetail"
                    class="c-price_list__price"
                  >
                  </dd>
                </div><!-- /.c-price_list__wrapper -->
                <div
                  v-for="(ticketTable, index) in content.ticketPrice.ticketTable"
                  :key="index"
                  v-if="ticketTable.visible"
                  class="c-price_list__wrapper"
                >
                  <dt
                    v-html="ticketTable.ticketTitleDetail"
                    class="c-price_list__ttl border_top--white"
                  >
                  </dt>
                  <dd
                    v-html="ticketTable.ticketPriceDetail"
                    class="c-price_list__price border_top--tertiary-color"
                  >
                  </dd>
                </div><!-- /.c-price_list__wrapper -->
              </dl><!-- /.c-price_list -->
              <p
                v-if="content.ticketPrice.ticketUnderTextRed.visible"
                v-html="content.ticketPrice.ticketUnderTextRed.inner"
                class="p-top3__info red-emphasis"
              >
              </p>
              <p
                v-if="content.ticketPrice.ticketUnderTextBlack.visible"
                v-html="content.ticketPrice.ticketUnderTextBlack.inner"
                class="p-top3__info"
              >
              </p>
              <p
                v-html="content.ticketPrice.performanceDetailText"
                class="p-top3__infoText"
              >
              </p>
            </section><!-- /.p-top3__box sec3 -->
            <section
              v-for="(content, index) in response.delivery.contents"
              :key="index"
              v-if="content.logirlMembers.visible"
              class="p-top3__box sec4"
            >
              <p
                v-html="content.logirlMembers.discount"
                class="p-top3__discount"
              >
              </p>
              <h3
                v-html="content.logirlMembers.title"
                class="c-hdg3"
              >
              </h3>
              <dl class="c-price_list">
                <div
                  v-for="(logirlTicketTableTop, index) in content.logirlMembers.logirlTicketTableTop"
                  :key="index"
                  class="c-price_list__wrapper"
                >
                  <dt
                    v-html="logirlTicketTableTop.logirlTicketTitleDetail"
                    class="c-price_list__ttl"
                  >
                  </dt>
                  <dd
                    v-html="logirlTicketTableTop.logirlTicketPriceDetail"
                    class="c-price_list__price"
                  >
                  </dd>
                </div><!-- /.c-price_list__wrapper -->
                <div
                  v-for="(logirlTicketTable, index) in content.logirlMembers.logirlTicketTable"
                  :key="index"
                  v-if="logirlTicketTable.visible"
                  class="c-price_list__wrapper"
                >
                  <dt
                    v-html="logirlTicketTable.logirlTicketTitleDetail"
                    class="c-price_list__ttl border_top--white"
                  >
                  </dt>
                  <dd
                    v-html="logirlTicketTable.logirlTicketPriceDetail"
                    class="c-price_list__price border_top--tertiary-color"
                  >
                  </dd>
                </div><!-- /.c-price_list__wrapper -->
              </dl><!-- /.c-price_list -->
              <p
                v-if="content.logirlMembers.logirlTicketUnderTextRed.visible"
                v-html="content.logirlMembers.logirlTicketUnderTextRed.inner"
                class="p-top3__info red-emphasis"
              >
              </p>
              <p
                v-if="content.logirlMembers.logirlTicketUnderTextBlack.visible"
                v-html="content.logirlMembers.logirlTicketUnderTextBlack.inner"
                class="p-top3__info"
              >
              </p>
              <a
                :href="logirlBnr.link"
                :target="logirlBnr.blank ? '_blank': false"
                v-for="(logirlBnr, index) in content.logirlMembers.logirlBanner"
                :key="logirlBnr.index"
                v-if="logirlBnr.visible"
                :class="{ linkInactive:logirlBnr.linkInactive }"
                class="c-banner1"
              >
                <img
                  :src="logirlBnr.thumbnail"
                  :alt="logirlBnr.alt"
                  class="c-banner1__link"
                >
              </a><!-- /.c-banner1 -->
              <a
                :href="logirlCBnr.link"
                :target="logirlCBnr.blank ? '_blank': false"
                v-for="(logirlCBnr, index) in content.logirlMembers.logirlCampaignBanner"
                :key="logirlCBnr.index"
                v-if="logirlCBnr.visible"
                :class="{ linkInactive:logirlCBnr.linkInactive }"
                class="c-banner3"
              >
                <img
                  :src="logirlCBnr.thumbnail"
                  :alt="logirlCBnr.alt"
                  class="c-banner3__link"
                >
              </a><!-- /.c-banner3 -->
            </section><!-- /.p-top3__box sec4 -->
            <section
              v-for="(content, index) in response.delivery.contents"
              :key="index"
              v-if="content.goodsInfo.visible"
              class="p-top3__box sec5"
            >
              <h2
                v-html="content.goodsInfo.title"
                class="c-hdg2"
              >
              </h2>
              <div
                v-for="(goodsLineUp, index) in content.goodsInfo.goodsLineUp"
                :key="index"
                v-if="goodsLineUp.visible"
                class="p-top3__goods_line-up"
              >
                <h3
                  v-html="goodsLineUp.head"
                  class="c-hdg3"
                >
                </h3>
                <img
                  :src="goodsLineUp.goodsImage.thumbnail"
                  :alt="goodsLineUp.goodsImage.alt"
                  v-if="goodsLineUp.goodsImage.visible"
                  class="goods"
                >
                <dl class="c-price_list">
                  <div class="c-price_list__wrapper">
                    <dt
                      v-html="goodsLineUp.goodsTableTop.goodsTitleDetail"
                      class="c-price_list__ttl"
                    >
                    </dt>
                    <dd
                      v-html="goodsLineUp.goodsTableTop.goodsContentDetail"
                      class="c-price_list__price"
                    >
                    </dd>
                  </div><!-- /.c-price_list__wrapper -->
                  <div
                    v-for="(goodsTable, index) in goodsLineUp.goodsTable"
                    :key="index"
                    v-if="goodsTable.visible"
                    class="c-price_list__wrapper"
                  >
                    <dt
                      v-html="goodsTable.goodsTitleDetail"
                      class="c-price_list__ttl border_top--white"
                    >
                    </dt>
                    <dd
                      v-html="goodsTable.goodsContentDetail"
                      class="c-price_list__price border_top--tertiary-color"
                    >
                    </dd>
                  </div><!-- /.c-price_list__wrapper -->
                </dl><!-- /.c-price_list -->
                <p
                  v-if="goodsLineUp.goodsUnderTextRed.visible"
                  v-html="goodsLineUp.goodsUnderTextRed.inner"
                  class="p-top3__info red-emphasis"
                >
                </p>
                <p
                  v-if="goodsLineUp.goodsUnderTextBlack.visible"
                  v-html="goodsLineUp.goodsUnderTextBlack.inner"
                  class="p-top3__info"
                >
                </p>
              </div><!-- /.goodsLineUp -->
            </section><!-- /.p-top3__box sec5 -->
            <section
              v-for="(content, index) in response.delivery.contents"
              :key="index"
              v-if="content.onlineLive.visible"
              class="p-top3__box sec6"
            >
              <h2
                v-html="content.onlineLive.title"
                class="c-hdg2"
              >
              </h2>
              <div class="p-top3__online-live__detail__wrap">
                <ul class="p-top3__online-live__detail__list">
                  <li
                    v-for="(details, index) in content.onlineLive.details"
                    :key="index"
                    v-if="details.visible"
                    class="p-top3__online-live__detail__list__item"
                  >
                    <h3
                      v-html="details.head"
                      class="c-hdg3"
                    >
                    </h3>
                    <div class="p-top3__online-live__detail__list__item__inner">
                      <a
                        :href="details.link"
                        :target="details.blank ? '_blank': false"
                        :class="{ linkInactive:details.linkInactive }"
                        class="p-top3__online-live__detail__list__item__link"
                      >
                        <img
                          :src="details.thumbnail"
                          :alt="details.alt"
                          class="p-top3__online-live__detail__list__item__img"
                        >
                      </a>
                      <div class="p-top3__online-live__detail__list__item__description-wrap">
                        <h5
                          v-html="details.title"
                          class="c-hdg8"
                        >
                        </h5>
                        <p
                          v-html="details.text"
                          class="p-top3__online-live__detail__list__item__text"
                        >
                        </p>
                        <br>
                        <p
                          v-html="details.cast"
                          class="p-top3__online-live__detail__list__item__cast"
                        >
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <p
                v-if="content.onlineLive.detail.visible"
                v-html="content.onlineLive.detail.head"
                class="p-top3__online-live"
              >
              </p>
              <p
                v-if="content.onlineLive.detail.visible"
                v-html="content.onlineLive.detail.ttl"
                class="p-top3__online-live__ttl"
              >
              </p>
              <p
                v-if="content.onlineLive.detail.visible"
                v-html="content.onlineLive.detail.txt"
                class="p-top3__online-live__txt"
              >
              </p>
            </section><!-- /.p-top3__box sec6 -->
          </div><!-- /.p-top3__body -->
        </div><!-- /.p-top3__inner -->
      </div><!-- /.p-top3 -->
    </div><!-- /.p-top__inner -->
    <div class="p-top4 reset--mg">
      <div class="p-top4__inner">
        <p
          v-if="response.ticket.finishedText.visible"
          v-html="response.ticket.finishedText.purchaseEnd"
          class="p-top3__infoText"
        >
        </p>
        <div
          v-for="(bnr, index) in response.ticket.banner2"
          :key="bnr.index"
          class="c-ticket"
        >
          <a
            :href="bnr.link"
            :target="bnr.blank ? '_blank': false"
            :class="{ linkInactive:bnr.linkInactive }"
            v-if="bnr.visible"
            class="c-ticket__link"
          >
            <img
              :src="bnr.thumbnail"
              :alt="bnr.alt"
            >
          </a><!-- /.c-ticket__link -->
          <ul
            v-if="bnr.textarea.visible"
            class="c-list1"
          >
            <li
              v-for="(textRed, index) in bnr.textarea.textRed.inner"
              :key="index"
              v-html="textRed"
              class="c-list1__item red-emphasis"
            >
            </li>
            <li
              v-for="(textCenterBold, index) in bnr.textarea.textCenterBold.inner"
              :key="index"
              v-html="textCenterBold"
              class="c-list1__item center-bold"
            >
            </li>
            <li
              v-for="(text, index) in bnr.textarea.text.inner"
              :key="index"
              v-html="text"
              class="c-list1__item"
            >
            </li>
          </ul><!-- /.c-list1 -->
        </div><!-- /.c-ticket -->
      </div><!-- /.p-top4__inner -->
    </div><!-- /.p-top4 reset--mg -->
  </main><!-- /.p-top -->
  <%- include('./components/_footer1', { path: path, data: data }) %>
</div><!-- /#app -->
<%- include('./common/_foot', { path: path, data: data }) %>