/* ==================================================
* .c-btn
================================================== */
/*
* .c-btn1
================================================== */
.c-btn1 {
  max-width: 285px;
  position: relative;
  z-index: 1;
  transition: 0.2s opacity;

  @include sp {
    width: 50%;
  }

  @include hover {
    opacity: 0.7;
  }
}

/*
* .c-btn2
================================================== */
.c-btn2 {
  padding: 12px 0;
  width: 132px;
  background-color: white;
  border-radius: 36px;
  display: inline-block;
  color: #343434;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  @include sp {
    padding: 12px 0;
    width: 130px;
    display: block;
  }

  @include hover {
    opacity: 0.7;
  }

  &:first-child {
    margin-right: 11px;

    @include sp {
      margin-right: 0;
    }
  }
}

/*
* .c-btn3
================================================== */
.c-btn3 {
  max-width: 450px;
  width: 80%;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 #bfbfbf;
  display: block;
  transition: .2s opacity;

  @include hover {
    opacity: .7;
  }

  @include sp {
    border-radius: 0;
    box-shadow: none;
  }
}

/*
* .c-btn4
================================================== */
.c-btn4 {
  padding: 12px 0;
  width: 130px;
  min-width: 130px;
  border: solid 2px #ccc;
  border-radius: 50px;
  display: block;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  transition: .2s opacity;

  @include hover {
    opacity: .7;
  }
}

/*
* .c-btn5
================================================== */
.c-btn5 {
  padding: 20px 0;
  width: 100%;
  display: block;
  color: $white;
  font-size: 1.3rem;
  text-align: center;
  transition: .2s opacity;

  &::after {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('#{$pathRelative}images/tw-more.svg') no-repeat center/ contain;
    vertical-align: sub;
    content: '';
  }

  @include hover {
    opacity: .7;
  }
}

/*
* .c-btn6
================================================== */
.c-btn6 {
  $root: &;
  padding: 12px 0;
  background-color: #939394;
  border-width: 0;
  border-radius: 5px;
  color: #343434;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: opacity .2s ease-in-out;

  @include hover {
    opacity: 0.7;
  }

  &--yellow {
    @extend #{$root};
    background-color: $yellow;
  }

  &--pink {
    @extend #{$root};
    background-color: $pink;
    color: $white;
  }
}

/*
* .c-btn7
================================================== */
.c-btn7 {
  width: 270px;
  height: 70px;
  background-color: #f0027f;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;

  @include sp {
    height: 40px;
    font-size: 1.8rem;
  }

  &::after {
    margin: auto 0;
    width: 25px;
    height: 25px;
    background: url(../images/close_btn.png) no-repeat center / 100% auto;
    position: absolute;
    top: 0;
    left: 30px;
    bottom: 0;
    content: "";

    @include sp {
      width: 18px;
      height: 18px;
    }
  }
}