/* ==================================================
* .c-hdg
================================================== */
/*
* .c-hdg1
*/
.c-hdg1 {
  margin: 0 auto;
  // max-width: 1280px;
  // background: $white url(../images/main_bg.png) center / cover;
  background: url(../images/bg_01.png), linear-gradient(180deg, #95ebfc 0, #feb5ea 100%);
  // background-size: 15px;
  position: relative;
  overflow: hidden;

  &__img {
    margin: 0 auto;
    display: block;

    // @include pc {
    //     width: 50%;
    // }
  }
}

/*
* .c-hdg2
*/
.c-hdg2 {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  font-family: "Noto Sans JP", "Hiragino Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  background-color: #fb86dc;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1.3px;

  @include sp {
    padding: 8px 0;
    margin-bottom: 10px;
    font-size: 1.6rem;
    border-radius: 5px;
  }
}

/*
* .c-hdg3
*/
.c-hdg3 {
  color: #e73262;
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
  border-bottom: 4px solid #e73262;
  text-align: center;
  padding-bottom: 7px;

  @include sp {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

/*
* .c-hdg4
*/
.c-hdg4 {
  color: #ff36c7;
  text-align: center;
  font-size: 3.2rem;
  margin: 36px 0 40px;
  line-height: 4.8rem;
  font-weight: 700;

  @include sp {
    font-size: 1.6rem;
    margin: 18px 0 20px;
    line-height: 2.2rem;
  }

  &__link {
    display: block;
    transition: opacity .2s ease-in-out;

    @include sp {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include hover {
      opacity: 0.7;
    }
  }

  &__img {
    @include sp {
      max-width: 100%;
      width: auto;
      height: 100%;
    }
  }
}

/*
* .c-hdg5
*/
.c-hdg5 {
  &__text {
    display: inline-block;
    font-size: 3.8rem;
    font-weight: bold;
    font-family: Roboto, "Noto Sans JP", Meiryo, sans-serif;
    line-height: 1.2;

    @include sp {
      font-size: 2rem;
      vertical-align: bottom;
    }
  }
}

/*
* .c-hdg6
*/
.c-hdg6 {
  padding: 8px 0 10px;
  width: 165px;
  display: inline-block;

  @include sp {
    padding: 0;
    width: auto;
    height: calc(40px - 15px);
  }

  &__link {
    display: block;
    transition: opacity .2s ease-in-out;

    @include sp {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include hover {
      opacity: 0.7;
    }
  }

  &__img {
    @include sp {
      max-width: 100%;
      width: auto;
      height: 100%;
    }
  }
}

/*
* .c-hdg7
*/
.c-hdg7 {
  margin-bottom: 64px;
  font-size: 42px;
  line-height: 1.4;

  @include sp {
    margin-bottom: 24px;
    font-size: 20px;
  }
}