/* ==================================================
* .c-icon
================================================== */
/*
* .c-icon_twitter_wrap
================================================== */
.c-icon_twitter_wrap {
  margin-left: 20px;
  max-width: 250px;
  position: relative;

  &::before {
    width: 17px;
    height: 14px;
    position: absolute;
    left: -20px;
    top: 5px;
    display: inline-block;
    background: url('#{$pathRelative}images/tw-logo.svg') no-repeat center / contain;
    content: '';
  }
}