/*
* .c-form1
================================================== */


/*
* .c-radio1
================================================== */
.c-radio1 {
  $root: &;
  display: none;

  &__label {
    border: 3px solid $white;
    border-radius: 50%;
    display: block;
    position: relative;

    &::after {
      margin: auto;
      padding: 3px;
      width: 100%;
      height: 100%;
      border: 5px solid transparent;
      border-radius: 50%;
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      transition: border-color .2s ease-in-out;
      box-sizing: content-box;
      content: "";

      @include sp {
        padding: 2px;
        border-width: 4px;
      }
    }
  }

  &:checked {
    &~#{$root}__label {
      &::after {
        border-color: $pink;
      }
    }
  }

  &:not(:disabled) {
    &~#{$root}__label {
      cursor: pointer;

      @include hover {
        &::after {
          border-color: $pink;
        }
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: 0;
}