/* ==================================================
* .c-text
================================================== */
/*
* .c-text1
*/
.c-text1 {
  line-height: 1.6;
}

/*
* .c-text2
*/
.c-text2 {
  overflow: hidden;
  font-size: 1.3rem;
  font-family: Roboto, "Noto Sans JP", Meiryo, sans-serif;
  line-height: 1.6;

  @include sp {
    line-height: 1.4;
  }
}

/*
* .c-link1
*/
.c-link1 {
  margin-top: 32px;
  display: inline-block;
  color: #03A9F4;

  @include hover {
    text-decoration: underline;
  }
}