/* ==================================================
* .c-nav
================================================== */
/*
* .c-nav1
================================================== */
.c-nav1 {
  $root: &;

  margin-left: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include sp {
    margin-left: 0;
  }

  &__wrap {
    padding-left: 30px;
    width: 50%;
    display: flex;

    @include sp {
      margin: 0 auto;
      padding-left: 0;
      width: 90%;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    margin-left: 30px;
    width: calc(50% - 30px);
    border-bottom: solid 1px #dcdcdc;

    @include sp {
      margin-left: 0;
      width: 50%;
      border-bottom-width: 0;
      text-align: center;
    }

    &:nth-child(n + 3) {
      @include sp {
        margin-top: 6%;
      }
    }

    &:nth-child(n + 6) {
      @include sp {
        margin-top: 10%;
      }
    }

    &:nth-child(odd) {
      @include pc {
        margin-left: 0;
      }
    }

    &--login_btn {
      @extend #{$root}__item;

      border-bottom: none;

      @include sp {
        margin-top: 20px;
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .c-btn2 {
        margin: 10px auto 0;

        @include sp {
          margin: 0;
          display: block;
          width: 35.3vw;
          padding: 3.2vw 0;
        }

        &:first-child {
          margin-right: 11px;

          @include sp {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__link {
    padding: 20px 0;
    display: block;
    color: #343434;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    transition: .2s opacity;

    @include sp {
      margin: 0 auto;
      padding: 15px 0;
      width: auto;
      font-size: 1.4rem;
      font-weight: 700;
    }

    @include hover {
      opacity: 0.7;
    }
  }
}