/*
* .c-list
*/

/*
* .c-list1
================================================== */
.c-list1 {

  margin: 0 auto;

  &__item {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $primary-color;

    @include sp {
      font-size: 1rem;
    }
  }
}

/*
* .c-list2
================================================== */
.c-list2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;

  @include sp {
    padding: 0 15px;
    margin-bottom: 40px;
  }

  &__item {
    display: block;
    position: relative;

    @include pc {
      // width: calc((100% - 100px) / 2);
    }

    @include sp {
      margin: 24px auto 0;
      max-width: 440px;
    }

    &:first-child {
      @include sp {
        margin-top: 0;
      }
    }

    &:nth-child(n+1) {
      margin-top: 40px;
      padding: 0 15px;

      @include sp {
        margin-top: 20px;
      }
    }

    &__tip {
      padding: 6px 10px;
      background: #ff0033;
      border-width: 0;
      border-radius: 4px;
      position: absolute;
      top: 15px;
      right: 15px;
      color: $white;
      font-size: 1.3rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__link {
    display: block;
    transition: .2s opacity;

    @include hover {
      opacity: 0.7;
    }
  }

  &__note {
    margin: 24px 50px 0;

    @include sp {
      margin: 14px 20px 0;
    }
  }
}

/*
* .c-list3
================================================== */
.c-list3 {
  width: 145px;

  @include sp {
    margin: 40px auto 0;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  &__item {
    margin-top: 40px;
    width: 100%;

    @include sp {
      margin-top: 0;
      width: 290px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    transition: .2s opacity;

    @include sp {
      margin: 0 auto;
    }

    @include hover {
      opacity: .7;
    }
  }

  &__img {
    max-width: 135px;
  }
}

/*
* .c-list4
================================================== */
.c-list4 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include sp {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-left: 34px;

    @include sp {
      margin: 0 4%;
      width: 20%;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__img {
    width: auto;
    height: 36px;

    @include sp {
      width: 100%;
      height: auto;
    }
  }
}

/*
* .c-list5
================================================== */
.c-list5 {
  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      padding: 17px 0;
      width: 50%;
      border: 0;
      background: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      cursor: pointer;

      &::before {
        width: 100%;
        height: 3px;
        background: #cece00;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &.is-active {
        position: relative;

        &::before {
          content: '';
        }
      }
    }
  }

  #exact {
    @include mq-down('md') {
      padding: 20px 15px;
      background-color: #343434;
    }
  }
}

/*
* .c-list6
================================================== */
.c-list6 {
  padding: 8px 0;
  min-height: 542px;
  height: calc(100vh - 320px);
  background: #343434;
  overflow-y: scroll;

  @include sp {
    min-height: auto;
    height: 370px;
  }

  &__item {
    padding: 4px 24px;
    display: flex;
    font-size: 1.3rem;
    line-height: 20px;
    white-space: nowrap;

    &__img {
      margin-right: 5px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      flex: none; // flexboxの<img>バグ解消
      vertical-align: middle;
    }
  }

  &__box {
    white-space: normal;

    &__name {
      margin-right: 8px;
      font-weight: bold;
      color: #fff;
      font-size: 1.3rem;
    }

    &__text {
      color: #eeeeee;
      font-size: 1.3rem;
      white-space: pre-wrap;
      word-break: break-all;

      img {
        margin: 0 2px;
        width: 16px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

/*
* .c-list7
================================================== */
.c-list7 {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include sp {
    justify-content: space-between;
  }

  &__item {
    @include sp {
      padding: 0 5px;
    }
  }
}

/*
* .c-list8
================================================== */
.c-list8 {
  display: flex;
  align-items: center;
  justify-content: center;

  @include sp {
    flex-direction: column-reverse;
  }

  &__item {
    margin-left: 40px;

    @include sp {
      margin-top: 10px;
      margin-left: 0;
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}