/*
* .c-video
*/
.c-video1 {
  @include sp {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 100;
  }

  @include pc {
    margin: 0 auto;
    margin-bottom: 17.65px;
    position: relative;
  }

  &__thumb {
    z-index: 10;
  }

  &__play-btn {
    display: block;
    width: 108px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
  }

  &__free-icon {
    position: absolute;
    top: calc(100% - 7px);
    right: 18px;

    @include sp {
      max-width: 24vw;
      width: 17.6vw;
      right: 10px;
    }
  }

  &__banner {
    display: block;

    margin-bottom: 24px;

    @include sp {
      display: none;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}