/*
* .c-***
*/

/*
* .c-tweet
================================================== */
.c-tweet {
  position: relative;

  @include sp {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 18px 20px;
    border-radius: 10px 10px 0 0;
    background: #838383;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sp {
      padding: 20px 15px;
      border-radius: 0;
      background: #343434;
    }
  }
}

/*
* .c-hashtag
================================================== */
.c-hashtag {
  padding-top: 5px;
  font-weight: bold;

  &::before {
    margin-right: 7px;
  }
}

/*
* .c-modal1
================================================== */
.c-modal1 {
  margin: auto;
  padding: 30px;
  max-width: 540px;
  width: 86%;
  max-height: 360px;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  color: $white;
  font-size: 1.4rem;
  text-align: left;
  line-height: 26px;

  &.is-active {
    display: block;
  }

  @include sp {
    padding: 20px;
  }

  &__text {
    margin-bottom: 26px;
    height: calc(100% - 52px - 26px);
    overflow-y: auto;

    @include sp {
      margin-bottom: 10px;
      height: calc(100% - 36px - 10px);
    }
  }

  &__close {
    width: 52px;
    display: block;
    float: right;
    cursor: pointer;

    @include sp {
      width: 36px;
    }
  }
}

/*
* .c-ticket
================================================== */
.c-ticket {
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }

  &__link {
    margin: 0 auto;
    display: block;
    transition: .2s opacity;

    @include hover {
      opacity: 0.7;
    }

    &+.c-list1 {
      margin-top: 12px;
    }
  }
}

/*
* .c-banner1
================================================== */
.c-banner1 {
  margin-top: 40px;

  @include sp {
    margin-top: 20px;
    padding: 0 15px;
  }

  &__link {
    display: block;
    transition: .2s opacity;

    @include hover {
      opacity: 0.7;
    }
  }

  &__note {
    color: $black;
    font-size: 1.6rem;
    font-family: "Noto Sans JP", Meiryo, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.13em;

    @include sp {
      font-size: 1.2rem;
    }
  }
}

/*
* .c-banner2
================================================== */
.c-banner2 {
  display: block;
  transition: opacity .2s ease-in-out;

  @include hover {
    opacity: 0.7;
  }
}

/*
* .c-banner3
================================================== */
.c-banner3 {
  display: flex;
  justify-content: center;
  margin: 40px auto 0;

  @include sp {
    margin: 20px auto 0;
    align-items: flex-start
  }

  &__link {
    display: block;
    transition: .2s opacity;

    @include sp {
      width: 95%
    }

    &:hover {
      opacity: .7;
    }
  }

  &__note {
    color: #000;
    font-size: 16px;
    font-family: 'Noto Sans JP', Meiryo, sans-serif;
    line-height: 1.6;
    letter-spacing: .13em;

    @include sp {
      font-size: 12px;
    }
  }
}

/*
* .c-copy1
================================================== */
.c-copy1 {
  padding: 30px 0 30px;
  background: $white;
  display: block;
  color: $black;
  text-align: center;
  letter-spacing: 1.08px;
  font-size: 1.2rem;
  font-family: Roboto, "Noto Sans JP", Meiryo, sans-serif;

  @include pc {
    line-height: 36px;
  }

  @include sp {
    padding: 25px 0 35px;
  }
}

/*
* .c-copy2
================================================== */
.c-copy2 {
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;

  @include sp {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }
}

/*
* .c-label1
================================================== */
.c-label1 {
  $root: &;

  padding: 7px 15px;
  min-width: 82px;
  background-color: #343434;
  border-radius: 4px;
  display: inline-block;
  color: #FFF;
  font-size: 1.4rem;
  text-align: center;

  @include sp {
    padding: 4px 10px;
    min-width: 48px;
    font-size: 1rem;
    font-weight: bold;
  }

  &--purchased {
    @extend #{$root};

    background-color: #A2A200;
  }
}

/*
* .c-label2
================================================== */
.c-label2 {
  $root: &;
  padding: 7px 26px;
  display: inline-block;
  background-color: $yellow;
  border-radius: 4px;
  color: #5A5A5A;
  font-size: 1.4rem;
  font-weight: bold;

  &--voted {
    @extend #{$root};
    background-color: #DC094D;
    color: #FFF;
  }
}

.goods {
  margin: 40px auto;
  width: 90%;
  height: auto;
  display: flex;

  @include sp {
    margin: 20px auto;
  }
}

.border_top--tertiary-color {
  border-top: 1px solid #d4d4d4;
}

.border_top--white {
  border-top: 1px solid #fff;
}

.reset--mg {
  margin: 0 !important;
}

.reset--bg {
  background: transparent !important;
}

.reset--pd {
  padding: 0 !important;
}

.red-emphasis {
  color: #ff0000 !important;
}

.center-bold {
  text-align: center;
  font-weight: bold;
}