/*
* .c-footer1
*/
.c-footer1 {
  background-color: #f5f5f5;
  position: relative;
  z-index: 1;

  &__inner {
    margin: 0 auto;
    padding: 60px 0 56px;
    max-width: 1280px;
    width: 96%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Roboto, "Noto Sans JP", Meiryo, sans-serif;
    font-size: 1.4rem;

    @include sp {
      width: 100%;
      padding: 55px 0 50px;
      flex-direction: column-reverse;
    }
  }

  .c-list3 {
    @include sp {
      margin-top: 40px;
    }
  }

  &__logo {
    width: 100%;

    &--bottom {
      width: calc(100% - 30px);
      display: block;

      @include pc {
        display: none;
      }
    }
  }
}

.c-footer2 {
  box-shadow: 0 2px 4px 0 #000;
  font-size: 1.4rem;

  &__inner {
    margin: 0 auto;
    padding: 20px 0 30px;
    max-width: 1280px;
    display: flex;

    @include sp {
      margin: 0 10px;
      padding: 10px 0 16px;
      flex-wrap: wrap;
    }
  }

  .c-list4 {
    margin-right: auto;

    @include sp {
      margin-right: 0;
      width: 100%;
    }
  }

  .c-copy2 {
    @include sp {
      margin-top: 15px;
    }
  }
}