/*
* .l-header
*/
.c-header1 {
  $root: &;

  background: $white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06);
  position: relative;

  @include sp {
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  &__inner {
    margin: 0 auto;
    max-width: 1286px;
    height: 90px;
    display: flex;
    align-items: center;
    color: $black;
    font-size: 2.4rem;

    @include sp {
      margin: 0 10px;
      height: 40px;
    }
  }

  .c-label1 {
    margin-left: 15px;

    @include sp {
      margin-left: 10px;
    }
  }
}