/*
* .l-***
*/

/*
* .l-container
================================================== */
.l-container {
  max-width: $pc-max-size;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include sp {
    width: auto;
    display: block;
  }

  &__body {
    width: 820px;

    @include sp {
      width: auto;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__side {
    margin-left: 60px;
    width: 400px;
    overflow-x: hidden;

    @include sp {
      margin-left: 0;
      width: auto;
    }
  }
}

.js-sp-contents {
  &:not(.is-active) {
    @include sp {
      display: none;
    }
  }
}